.wbdv-nvbar {
    background-color: #ff424f !important;
    margin-bottom: 50px;
}

.wbdv-movie-header{
    font-family: sans-serif;
}

.movie-searchs{
    margin-bottom: 50px;
}

.movie-image {
    height: 300px;
    width: 200px;
}

.movie-card {
    max-width: 200px;
}

.like-movie {
    cursor: pointer;
}

.add-new-course-btn, 
.add-new-course-btn:hover, 
.add-new-course-btn:active, 
.add-new-course-btn:focus {
    background: #ff424f !important;
    border: 0px !important;
}

.search-bar-design,
.search-bar-design:hover,
.search-bar-design:focus,
.search-bar-design:active {
    background: #ff424f;
    border: 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.search-bar-design::placeholder {
    color: #fff;
}

@media (min-width: 576px) {
    .wbdv-movie-card{
        margin: 15px ! important;
        display: flex ! important;
        flex: 0 0 100% ! important;
        
    }
}


@media (min-width: 768px) {
    .wbdv-movie-card{
        margin: 15px ! important;
        display: flex ! important;;
        flex: 0 0 27.33% ! important;
        
    }
 }


@media (min-width: 992px) { 
    .wbdv-movie-card{
        margin: 15px ! important;
        display: flex ! important;
        flex: 0 0 20% ! important;
        
    }
 }
