.movie-detail{
    font-family: Arial, Helvetica, sans-serif;
}

.movie-genre{
    font-style: italic;
    margin-bottom: 60px;
}

.rating-margin{
    margin-right: 10px;
}

.rotten-tomatoes{
    color: red;
    font-style: bold;
}

.imdb-icon{
    height: 20px;
    width: 40px;
  
}


.imdb-ratings{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.imdb-rate{
    margin-top: 6px;
}

.movie-poster{
    max-height: 350px;
    width: auto;
}

.poster-div{
    background-color: burlywood;
    align-content: center 
}

.actors-plot{
    margin-top: 15px;
}

.wbdv-movie-card{
    border: 0 none;
}

.flag-comment{
    margin-top: 5px;
    margin-right: 5px;
}

.flag-comment {
    cursor: pointer;
}

.follow{
    cursor: pointer;
}
.unfollow{
    cursor: pointer;
}


.username-comment{
    font-style: italic;
    font-weight: bold;
    margin-right: 5px;
}

.comments-section{
    margin-top: 50px;
}

.comment-card{
    margin-bottom: 10px;
}

.comment-card-body{
    padding-top: 2% !important;
}

.comment-header{
    margin-bottom: 14px;
    margin-top: 6px;
}

.comment-editor{
    margin-bottom: 5px;
}

.login-alert{
    margin-top: 10px;
    margin-bottom: 10px
}