.movie-detail{
    font-family: Arial, Helvetica, sans-serif;
}

.movie-genre{
    font-style: italic;
    margin-bottom: 60px;
}

.rating-margin{
    margin-right: 10px;
}

.rotten-tomatoes{
    color: red;
    font-style: bold;
}

.imdb-icon{
    height: 20px;
    width: 40px;
  
}


.imdb-ratings{
    display: flex;
    align-items: center;
}

.imdb-rate{
    margin-top: 6px;
}

.movie-poster{
    height: 300px;
    width: 200px;
}

.poster-div{
    background-color: burlywood;
    align-content: center 
}

.borderless{
    border: 0 none;
}

.wbdv-movie-card{
    border: 0 none;
}

.flag-comment{
    margin-top: 5px;
    margin-right: 5px
}

.username-comment{
    font-style: italic;
    font-weight: bold;
    margin-right: 5px;
}

.comment-card{
    margin-bottom: 10px;
}

.comment-card-body{
    padding-top: 2% !important;
}

.comment-header{
    margin-bottom: 14px;
    margin-top: 6px;
}

.comment-editor{
    margin-bottom: 5px;
}